# Note: this file should go in the same directory as the LastMileData folder

# Enable gzipping
<IfModule mod_deflate.c>

    SetOutputFilter DEFLATE
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/x-httpd-php

</IfModule>

# Enable URL rewriting
<IfModule mod_rewrite.c>

    RewriteEngine on

    # Redirect lastmiledata.org/offline --> DEQA page
    RewriteCond %{HTTP_HOST} ^(www\.)?liberiamohdata\.org$ [NC]
    RewriteRule ^offline$ "https\:\/\/liberiamohdata\.org\/LMDLiberiaMOH\/build\/pages\/page_deqa\.html" [R=301,L]

</IfModule>
